.products-by-category-container{
    margin: auto;
    /* justify-content: center; */
    width: 100vw;
    padding:2rem;
    /* background-color: red; */
    overflow: none;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.products-by-category{
    display: flex;
    flex-wrap: wrap;
}