.product-card-container{
    height: 300px;
    width: 250px;
    padding:1rem;
    /* border:1px solid grey; */
    box-shadow: 5px 5px 5px grey;
    border-radius: 10px;
    margin:1rem;
    background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
 background-blend-mode: normal,color-burn;
    
    /* background-color: red; */

}

.add-to-cart-button{
    background-color: #1F8ACB;
    border:none;
    padding:0.2rem 0;
}

.product-image-container{
    height: 70%;
    width: 100%;
}

.product-image{
    height: 90%;
    width: 100%;
    border-radius: 10px;
    object-fit:cover;
}
.product-details{
    display: flex;
    flex-direction: column;

}

.product-title{
    font-size: 1.2rem;
    font-weight: bold;
}